<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isco.Blog.Mapper.BlogGroupMapper">
	<resultMap id="BaseResultMap"
		type="com.isco.Blog.POJO.BlogGroup">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<collection property="blogs" column="id"
			ofType="com.isco.Blog.ResultEntity.BlogUserEntity"
			select="com.isco.Blog.Mapper.BlogMapper.selectByGroup"></collection>
	</resultMap>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from blog_group
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.isco.Blog.POJO.BlogGroup"
		useGeneratedKeys="true" keyProperty="id">
		insert into blog_group (name, user_id
		)
		values (#{name,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}
		)
	</insert>
	<update id="updateByPrimaryKey"
		parameterType="com.isco.Blog.POJO.BlogGroup">
		update blog_group
		set name = #{name,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, name, user_id
		from blog_group
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select id, name, user_id
		from blog_group
	</select>
	
	<select id="selectByName" resultMap="BaseResultMap">
		select *
		from blog_group
		where name = #{name}
	</select>
	
	<select id="selectByUserId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, name
		from blog_group
		where user_id = #{userId}
	</select>
	
</mapper>