<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isco.Blog.Mapper.BlogTypeMapper" >
  <resultMap id="BaseResultMap" type="com.isco.Blog.POJO.BlogType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="attention" property="attention" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.isco.Blog.POJO.BlogType" useGeneratedKeys="true" keyProperty="id" >
    insert into blog_type (name, pic, introduce, 
      num, attention)
    values (#{name,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, 
      #{num,jdbcType=INTEGER}, #{attention,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.isco.Blog.POJO.BlogType" >
    update blog_type
    set name = #{name,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      attention = #{attention,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, name, pic, introduce, num, attention
    from blog_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, pic, introduce, num, attention
    from blog_type
  </select>
</mapper>