<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isco.Blog.Mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.isco.Blog.POJO.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
		<result column="img" property="img" jdbcType="VARCHAR" />
		<result column="qq_id" property="qqId" jdbcType="VARCHAR" />
		<result column="wb_id" property="wbId" jdbcType="VARCHAR" />
		<result column="grant" property="grant" jdbcType="INTEGER" />
		<result column="sign" property="sign" jdbcType="VARCHAR" />
		<result column="number" property="number" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="CHAR" />
	</resultMap>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.isco.Blog.POJO.User"
		useGeneratedKeys="true" keyProperty="id">
		insert into user (name, pwd, img,
		qq_id, wb_id, grant,
		sign, number, sex)
		values
		(#{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR},
		#{img,jdbcType=VARCHAR},
		#{qqId,jdbcType=VARCHAR},
		#{wbId,jdbcType=VARCHAR}, #{grant,jdbcType=INTEGER},
		#{sign,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR},
		#{sex,jdbcType=CHAR})
	</insert>
	<update id="updateByPrimaryKey"
		parameterType="com.isco.Blog.POJO.User">
		update user
		set name = #{name,jdbcType=VARCHAR},
		pwd =
		#{pwd,jdbcType=VARCHAR},
		img = #{img,jdbcType=VARCHAR},
		qq_id =
		#{qqId,jdbcType=VARCHAR},
		wb_id = #{wbId,jdbcType=VARCHAR},
		grant =
		#{grant,jdbcType=INTEGER},
		sign = #{sign,jdbcType=VARCHAR},
		number =
		#{number,jdbcType=VARCHAR},
		sex = #{sex,jdbcType=CHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, name, pwd, img, qq_id, wb_id, grant, sign,
		number, sex
		from user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select id, name, pwd, img,
		qq_id, wb_id, grant, sign, number, sex
		from user
	</select>

	<!-- 手机号密码登录 -->
	<select id="selectByNumberAndPwd" resultMap="BaseResultMap">
		select * from user
		where number=#{number} and pwd=#{pwd}
	</select>

	<!-- 通过验证码阶段后，直接用手机登录 -->
	<select id="selectByNumber">
		select * from user where number=#{number}
	</select>
</mapper>